<head>
    <link rel="stylesheet" href="../css/styles.css"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<footer class="bg-pink-700 text-white py-4 md:py-8">
    <div class="container mx-auto items-center flex flex-col mb-4 gap-4 text-xs md:flex-row md:items-start md:justify-between md:gap-0 sm:text-sm md:text-base lg:text-lg">
        <!-- Tech&Dev -->
        <div class="text-center px-2 md:text-left md:px-4">
            <img src="../images/logo.png" alt="ID CHIC" class="logo w-20 h-20 md:w-30 md:h-30">
        </div>
        <!-- Enlaces -->
        <div class="text-center px-2 md:text-left md:px-4">
            <h4 class="text-sm font-bold text-blue-300 mb-2 md:text-base lg:text-lg">
                Enlaces
            </h4>
            <ul class="space-y-1 md:space-y-2">
                <li><a href="../index.html" target="_top" class="footer-link">Inicio</a></li>
                <li><a href="../products.html" target="_top" class="footer-link">Productos</a></li>
                <li><a href="../contact.html" target="_top" class="footer-link">Contacto</a></li>
           </ul>

        </div>
        <!-- Contacto -->
        <div class="text-center px-2 md:text-left md:px-4">
            <h4 class="text-sm font-bold text-blue-300 mb-2 md:text-base lg:text-lg">
                Contacto
            </h4>
            <p class="text-white-300 mb-1">
                <span>📧</span> contacto@idchic.com
            </p>
            <p class="text-white-300 mb-1">
                <span>📞</span> +315 880 0287
            </p>
        </div>
    </div>
    <div class="text-center border-t border-blue-300 text-gray-400 text-xs pt-1 sm:pt-2 md:pt-6">
        <p>© 2025 Todos los derechos reservados.</p>
    </div>
</footer>